<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tal noticia</title>

    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/detalles.css">
</head>
<body>
    <nav>
        <img src="/images/logo.png" alt="logo news">
        <h2>News</h2>
    </nav>

    <div class="card">
        <!-- CONTENEDOR DE LA NOTICIA -->
        <div class="card-news"> 
            <!-- CABECERA -->
            <div class="header-news">  
                <!-- TITULO DE LA NOTICIA -->
                <h1>Islas en España</h1> 
                <!-- TITULO DE LA NOTICIA -->

                <!-- CONTENEDOR DE BOTONES ME GUSTA Y GUARDAR -->
                <div class="box-like-save">
                    <!-- BOTONES -->
                    <button>
                        <img src="/images/heart.svg" alt="Like">
                    </button>
                    <button>
                        <img src="/images/inbox.svg" alt="save">
                    </button>
                    <!-- BOTONES -->
                </div>
                <!-- CONTENEDOR DE BOTONES ME GUSTA Y GUARDAR -->
            </div>
            <!-- CABECERA -->

            <!-- CONTENEDOR IMAGEN NOTICIA -->
            <div class="content-image">
                <img src="/images/fondoimagen.jpeg" alt="">
            </div>
            <!-- CONTENEDOR IMAGEN NOTICIA -->
        </div>
        <!-- CONTENEDOR DE LA NOTICIA -->

        <!-- CONTENEDOR INFORMACION -->
        <div class="content-info">
            <!-- CONTENEDOR TITULO NOTICIA -->
            <div class="title-news">
                <h3>Islas Principales</h3>
            </div>
            <!-- CONTENEDOR TITULO NOTICIA -->

            <!-- CONTENEDOR INFORMACION COMPLETA -->
            <div class="full-info">
                <p>Islas Baleares: Situadas en el mar Mediterráneo, incluyen Mallorca, Menorca, Ibiza, y Formentera. Son conocidas por sus playas, clima mediterráneo y sitios históricos como la Catedral de Palma de Mallorca.

                1.Islas Canarias: Ubicadas en el océano Atlántico, cerca de la costa noroeste de África. Incluyen Tenerife, Gran Canaria, Lanzarote, y otras islas menores. Son famosas por su clima subtropical, paisajes volcánicos y parques nacionales.
                <br>    
                2.Estas islas son populares destinos turísticos debido a sus climas agradables, paisajes naturales y rica cultura.</p>
            </div>
            <!-- CONTENEDOR INFORMACION COMPLETA -->
        </div>
        <!-- CONTENEDOR INFORMACION -->
    </div>

    <div class="card">
        <!-- CONTENEDOR DE LA NOTICIA -->
        <div class="card-news"> 
            <!-- CABECERA -->
            <div class="header-news">  
                <!-- TITULO DE LA NOTICIA -->
                <h1>Islas en España</h1> 
                <!-- TITULO DE LA NOTICIA -->

                <!-- CONTENEDOR DE BOTONES ME GUSTA Y GUARDAR -->
                <div class="box-like-save">
                    <!-- BOTONES -->
                    <button>
                        <img src="/images/heart.svg" alt="Like">
                    </button>
                    <button>
                        <img src="/images/inbox.svg" alt="save">
                    </button>
                    <!-- BOTONES -->
                </div>
                <!-- CONTENEDOR DE BOTONES ME GUSTA Y GUARDAR -->
            </div>
            <!-- CABECERA -->

            <!-- CONTENEDOR IMAGEN NOTICIA -->
            <div class="content-image">
                <img src="/images/fondoimagen.jpeg" alt="">
            </div>
            <!-- CONTENEDOR IMAGEN NOTICIA -->
        </div>
        <!-- CONTENEDOR DE LA NOTICIA -->

        <!-- CONTENEDOR INFORMACION -->
        <div class="content-info">
            <!-- CONTENEDOR TITULO NOTICIA -->
            <div class="title-news">
                <h3>Islas Principales</h3>
            </div>
            <!-- CONTENEDOR TITULO NOTICIA -->

            <!-- CONTENEDOR INFORMACION COMPLETA -->
            <div class="full-info">
                <p>Islas Baleares: Situadas en el mar Mediterráneo, incluyen Mallorca, Menorca, Ibiza, y Formentera. Son conocidas por sus playas, clima mediterráneo y sitios históricos como la Catedral de Palma de Mallorca.

                1.Islas Canarias: Ubicadas en el océano Atlántico, cerca de la costa noroeste de África. Incluyen Tenerife, Gran Canaria, Lanzarote, y otras islas menores. Son famosas por su clima subtropical, paisajes volcánicos y parques nacionales.
                <br>    
                2.Estas islas son populares destinos turísticos debido a sus climas agradables, paisajes naturales y rica cultura.</p>
            </div>
            <!-- CONTENEDOR INFORMACION COMPLETA -->
        </div>
        <!-- CONTENEDOR INFORMACION -->
    </div>
    
    <footer class="footer-content">
        <div class="foot-text">
            <p>By: @Mateo</p>
        </div>
        <div class="foot-icon">
            <img src="/images/news.svg" alt="">
        </div>
    </footer>

</body>
</html>