<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos Globales -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- Estilo unico -->
    <link rel="stylesheet" href="/public/css/login&register.css">

    <!-- Logo Favicon -->
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">

    <!-- CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- JavaScript de jQuery y Bootstrap -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title>Registro</title>
</head>
<body>
    <div class="all">
        <div class="back-image">
            <img src="/images/logo.png" width="55px" alt="logo">
            <h1>News</h1>
        </div>

        <div class="formulario">
            <form action="/submit-form" method="POST">
                <div class="back-title">
                    <h2>Registro de Usuario</h2>
                </div>
                
                <div class="inputs">

                    <div class="input-group-one">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>
            
                        <div class="form-group">
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" required>
                        </div>
                    </div>

                    <div class="input-group-two">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
            
                        <div class="form-group">
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                    </div>
                </div>
                
                <div class="back-btn">
                    <button type="submit">Registrar</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>